.movie {
  color: #fff;
}
.movie_wrap {
  position: relative;
  height: 100%;
}

.h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}
.title {
  font-size: 2rem;
  color: #fff;
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg_blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}
.content_wrap {
  width: 80%;
  margin: 0 10%;
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 1rem 1rem;
  align-items: start;
  justify-items: start;
  grid-template-areas:
    "img title"
    "img info"
    "img rating"
    "img plot"
    "img trailer";
}
.img_wrap {
  grid-area: img;
}
.title_row {
  grid-area: title;
}
.info_row {
  grid-area: info;
}
.year {
  display: inline-block;
  margin-right: 0.2rem;
}
.year:after {
  content: "\00B7";
  margin-left: 0.2rem;
}
.info_row ul {
  display: inline-block;
}
.info_row li {
  display: inline-block;
  margin-right: 0.2rem;
}
.info_row li:not(:last-of-type):after {
  content: "\00B7";
  margin-left: 0.2rem;
}
.rating_row {
  grid-area: rating;
}
.plot_row {
  grid-area: plot;
  width: 80%;
}
.trailer_row {
  grid-area: trailer;
}
.trailer_wrap {
  position: relative;
}
.play_icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../components/vid_play_white.svg) no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  aspect-ratio: 16/9;
}
.close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #0000;
  border: 0 none;
  cursor: pointer;
  background: url(../components/close_white.svg) no-repeat center;
  text-indent: -9999px;
}
@media screen and (max-width: 767px) {
  .content_wrap {
    width: 90%;
    margin: 0 5%;
    padding-bottom: 8rem;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    gap: 1rem 0;
    align-items: start;
    justify-items: start;
    grid-template-areas:
      "title"
      "info"
      "rating"
      "img"
      "plot"
      "trailer";
  }
  iframe {
    width: 90%;
    aspect-ratio: 16/9;
  }
}
